.chat-header {
  width: 82%;
  min-height: 4rem;
  max-height: 4rem;
  border: none;
  position: fixed;
  /* border-bottom: 1px solid var(--color-border); */
  background-color: var(--color-bg);
  box-shadow: 0 4px 16px -10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.45rem 1.25rem;
  margin-left: auto;
}
