.root-layout {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
  color: var(--color-text);
}

.root-layout-body {
  width: 100%;
  flex: 1;
  display: flex;
  min-height: 0;
}

.root-layout-content {
  width: 100%;
  display: flex;
  overflow-y: auto;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .backdrop {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
  }

  .backdrop.visible {
    display: block;
  }
}
