.header {

    width: 100%;
    min-height: 3.25rem;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-surface);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    padding: 0.45rem 1.25rem;
}

.header-welcome {

    color: var(--color-text);
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
}

.header-username {

    font-weight: var(--fw-bold);
}
